<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='001.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>管理員頁面</title>
</head>
<body class="otherbody">
<div id="sidebar" onmouseover="expandSidebar()" onmouseout="collapseSidebar()">
    <div class="toggle" onmouseover="expandSidebar()" onmouseout="collapseSidebar()">
        <i class="fas fa-bars"></i>
    </div>
    <div id="settings">
        <form action="/dashboard/admin/order" method="post">
            <input type="submit" value="全部訂單" class="button1">
        </form>
        <form action="/dashboard/admin/history" method="post">
            <input type="submit" value="歷史紀錄" class="button1">
        </form>
        
        <a href="{{ url_for('logout') }}" style="color: white;">登出</a>
    </div>
</div>

<div id="content">
    <h1>查看歷史紀錄，選擇您要的時間</h1>
        <form id="lifepath-form" action="/history" method="post"> 
            <label for="birthdate">請輸入你要查詢的日期 (YYYY-MM-DD):</label>
            <input type="date" id="birthdate" name="history" required>
            <button type="submit" class="button2">提交</button>
        </form>
    <div id="result">
        
    </div>
    {% if request_method == 'POST'  and "查無資料" in orders[0]%}
    <div>
        {{ orders[0] }}
    </div>
    {% else %}
    <div>
        <div>
            <br>
            <table border="1">
                {% for order in orders %}
                <tr>
                    {% for data in order %}
                        <td width="150">
                            {{ data }}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
    </div>
    {% endif %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
